body{
	background-color:#656565;
}
#header{	
	position:relative;
}
/*CSS menu*/


#menu{
	
	width:800px;
	margin-top:3%;
	position:relative;


}

#first_m{
	
	margin-left:221px;
}
.menu_item{
	display:inline-block;
	background:black;
	padding:8px;
	margin-left:-10px;
}
#menu a{

	color:white;

	text-decoration:none;

}

#menu a:hover {

	color: gray;
	text-decoration:none;

}

#menu a:active {
	
	color:gray;
	text-decoration:none;

}




#left{
	position:relative;
	float:left;	
	width:220px;
	margin-top:-70px;
}
#logo{
	margin-left:25px;
}
#center {
	
	background-color:white;
	margin:0px 221px; 
	padding:60px;
	word-wrap: break-word;	
	border: 2px solid black;	
	min-width:760px;
}



.api_description{
	font-size:15.5;
	display:block;
	padding: 0px 40px 40px 40px;
}
a{
	color: BLACK;	
	font-size:16;
}

.winapi a{
	font-size:18;
}
#name{
	font-size:18;
}
#descr{
	font-size:16.4;
}
.edit{
	float:right;
}

#login_form{	
	margin-left:40%;
}
.add_form{		
	margin-left:18%;	

}

label {
	display: block;
	text-align: left;
	margin-top:1%;
	margin-bottom:1%;
}
#addbutton{
	margin-top:1%;
	min-width:100px;
	min-height:30px;
}
#change_pass{
	margin-left:40%;
}

